{% extends 'base.html.twig' %}

{% block title %}New Password{% endblock %}

{% block main %}
    <main>
        <section class="form-wrapper" data-aos="fade-down">
            <form id="form" action="{{ path('password_reset_action', { authString: app.request.query.get('authString') }) }}" method="post">
                <div class="form" id="animate">
                    <div class="form-header">
                        <div class="a-form-section">
                            <h3 class="text-center">NEW PASSWORD</h3>
                        </div>
                    </div>
                    <div class="form-content">
                        {% if stringError is defined %}<p class="error-msg text-center">{{ stringError }}</p>{% endif %}
                        <div class="label-group"><label for="password">Password</label></div>
                        <div class="form-group">
                            <input id="password" type="password" placeholder="Password" name="change_password[password][first]"/>
                            <p class="error-msg">{% if errors.first is defined %}{{ errors.first|join(' ') }}{% endif %}</p>
                        </div>

                        <div class="label-group"><label for="password2">Repeat Password</label></div>
                        <div class="form-group">
                            <input id="password2" type="password" placeholder="Repeat Password" name="change_password[password][second]"/>
                            <p class="error-msg">{% if errors.second is defined %}{{ errors.second|join(' ') }}{% endif %}</p>
                        </div>

                        {{ form_row(form._token) }}

                        <div class="form-group text-center">
                            <button id="test-btn" type="submit" class="btn-fill">Reset</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </main>
{% endblock %}