{% extends 'base.html.twig' %}

{% block title %}New Flight{% endblock %}

{% block main %}
    <main>
        <section class="form-wrapper" data-aos="fade-down">
            <form id="form" action="{{ path('flight_create') }}" method="post" enctype="multipart/form-data">
                <div class="form" id="animate">
                    <div class="form-header">
                        <div class="a-form-section">
                            <h3 class="text-center">NEW FLIGHT</h3>
                        </div>
                    </div>
                    <div class="form-content">
                        <div class="form-group">
                            <select name="flight[route]">
                                <option value="" selected disabled>Route ...</option>
                                {% for route in routes %}
                                    <option value="{{ loop.index - 1 }}">{{ route.flightNumber }} - {{ route.fromAirport }} -> {{ route.toAirport }}</option>
                                {% endfor %}
                            </select>
                            <p class="error-msg">{% if errors.route is defined %}{{ errors.route|join(' ') }}{% endif %}</p>
                        </div>

                        <div class="form-group">
                            <input type="datetime-local" placeholder="Date" name="flight[date]" value="{{ flight.date|date('Y-m-d\\TH:i') }}"/>
                            <p class="error-msg">{% if errors.date is defined %}{{ errors.date|join(' ') }}{% endif %}</p>
                        </div>

                        <div class="form-group">
                            <input type="number" step="2" placeholder="Price per normal seat" name="flight[price]" value="{{ flight.price }}"/>
                            <p class="error-msg">{% if errors.price is defined %}{{ errors.price|join(' ') }}{% endif %}</p>
                        </div>

                        <div class="form-group">
                            <input type="text" placeholder="Terminal of departure" name="flight[terminal]" value="{{ flight.terminal }}"/>
                            <p class="error-msg">{% if errors.terminal is defined %}{{ errors.terminal|join(' ') }}{% endif %}</p>
                        </div>

                        {{ form_row(form._token) }}

                        <div class="form-group text-center">
                            <button id="test-btn" type="submit" class="btn-fill">Register Flight</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </main>
{% endblock %}